@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  background-color: hsl(214, 17%, 92%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.2;
  font-size: 1.47em;
}

p {
  font-weight: 600;
}

.lowerP {
  line-height: 1.4;
  font-size: 15px;
  font-weight: 400;
}

.verified {
  font-size: 0.89em;
  font-weight: normal;
}

.wrapper {
  display: grid;
  grid-auto-columns: 18em;
  grid-auto-rows: auto;
  grid-template-areas:
    "box1 box1 box2 box5"
    "box3 box4 box4 box5";
  gap: 2em;
  margin: 10em;
}

.item {
  border-radius: 0.5em;
  padding-block: 1em;
  padding-inline: 1.85em;
  box-shadow: 1em 1em 3em rgba(54, 51, 51, 0.299);
}

#box1 {
  grid-area: box1;
  background-color: hsl(263, 55%, 52%);
  color: white;
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 86%;
}
#box2 {
  grid-area: box2;
  background-color: hsl(217, 19%, 35%);
  color: hsl(214, 17%, 92%);
}

#box3 {
  grid-area: box3;
  background-color: hsl(0, 0%, 100%);
  color: hsl(224, 10%, 45%);
}
#box4 {
  grid-area: box4;
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 81%);
}
#box5 {
  grid-area: box5;
  background-color: hsl(0, 0%, 100%);
  color: hsl(224, 10%, 45%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.boxUpper {
  display: flex;
  gap: 1em;
}

.profilePic {
  width: 2.2em;
  height: 2.2em;
  border-radius: 50%;
  margin-block: 1.2em;
}

#box1Pic {
  border: 2px solid hsl(264, 82%, 80%);
}
#box2Pic {
  border: 2px solid hsl(0, 0%, 81%);
}
#box3Pic {
  border: 2px solid white;
}
#box4Pic {
  border: 2px solid hsl(263, 55%, 52%);
}
#box5Pic {
  border: 2px solid white;
}

@media (max-width: 42em) {
  .wrapper {
    grid-auto-columns: 22em;
  grid-auto-rows: auto;
    grid-template-areas:
      "box1"
      "box2"
      "box3"
      "box4"
      "box5";
    scale: 80%;
    margin: -9em;
  }
  #box1 {
    background-image: none;
  }
}
